#banner{
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
nav ul li{
    list-style: none;
    margin: 50px 40px;
}
nav ul li a{
    text-decoration: none;
    color: #000
}
#menuBtn{
    width: 50px;
    height: 50px;
    background:#FFECFD;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}
#pastries{
    background: url(pastriesmenu.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
