#banner{
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
#pastries{
    background: url(pastriesmenu.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
